$font-size: 300%;

@mixin overstack {
    font-size: 270%;
    text-decoration: underline;
    font-family: monospace;
    margin-left: 10px;
    margin-top: 280px;
    background-color: orange;
    padding-left: 30px;
}

.title{
    font-size: $font-size;
    font-family: 'Times New Roman', Times, serif;
    color: orange;
    background-color: rgb(94, 94, 252);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text {
   @include overstack
}

.Tablee {
    font-size: 180%;
    font-family: monospace;
    background-color: rgb(94, 94, 252) ;
    color: orange;
    margin-left: 1100px;
    margin-top: -10px;
}

.Watch {
    margin-top: 10px;
    margin-left: 1095px;
    color: black;
    text-decoration: underline; 
}

.video {
    float: left; 
    margin: 0 0 px px; 
    margin-left: 20px;
}

.Premier {
   color: black;
   text-decoration: underline; 
   margin-top: 10px;
   margin-left: 25px;
   font-size: 150%;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 150%; 
    color: orange;
    margin-left: 18px;
}